@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Helvetica';
    overflow-x: hidden;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../public/font/Helveticaa/Helvetica.ttf')
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}