@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Helvetica';
    overflow-x: hidden;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helveticaa/Helvetica.ttf');
}